$brand-primary: #00539B;
$brand-info: #0577B1;
$link-color: #012169;
$nav-pills-active-link-hover-bg: #0577B1;
$btn-primary-bg: #E89923;
$btn-primary-border: #988675;
$btn-info-bg: #DAD0C6;
$btn-info-border: #988675;
$fg-nav-tabs-active: #fb1;
